body{
    margin:0;
}
*{
    box-sizing: border-box;
}

header{
    margin: 0;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line_header{
    width: 100%;
    height: 35px;
    background-color: aqua;
}

.logo_information{
    width: 100%;
    height: 150px;
    background-color: darkblue;
}

.menu_login_language{
    display: flex;
    margin: auto;
    background-color: blue;
    height: 100px;
    width: 100%;
    padding:0 30px;
}

.menu{
    display: flex;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.menu div {
    padding: 1em;
}


.login_language{
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.login_language div{
    padding:0 2em;
}
.login{
    display: flex;
}
.login div{
    padding:0 1em;
}

.container{
    width: 1170px;
}

.main_block{
    padding:0 30px;
}

.ship_main{
    height: 323px;
    width: 600px;
}
